.card_container{
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 125, 120);
    border: 10px solid rgb(67, 66, 66);
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    opacity: 0.8;
    border-radius: 15px;
    max-width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.card_container:hover{
    transform:scale(1.05);
}