body {
  background-image: url(../home/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.logo{
  margin-left: 25px;
  margin-bottom: 10px;
  font-size: 35px;
  color:rgba(15, 15, 16, 0.626);
  text-shadow: 1px 5px 5px rgba(224, 224, 220, 0.4);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: fixed;
  z-index: -1;
}

.welcome{
    
    margin-top: 30px;
    font-size: 35px;
    color:rgba(15, 15, 16, 0.626);
    text-shadow: 1px 5px 5px rgba(224, 224, 220, 0.4);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    z-index: -1;
    float: right;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    text-decoration: none;
  }
.link{
  text-decoration: none;
  
}
.createDog {
  color: rgb(183, 174, 169);
    background-color: rgba(141, 133, 133, 0.753);
    width:fit-content;
    border: 1px solid rgb(249, 107, 13);
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    float: right;

  }

.deleteFilter{
    color: rgb(183, 174, 169);
    background-color: rgba(141, 133, 133, 0.753);
    width:fit-content;
    border: 1px solid rgb(249, 107, 13);
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    float: left;
    
}  
