.main_container{
    background-image: url("./backgroundLanding.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;    
    background-position-y: center;
    
}

.main_left_container{
    width: 43%;
    padding-top: 20px;
    position: relative;
}

.main_left_container h1{
    color: rgb(117, 89, 12);
    text-shadow: 1px 3px 45px #d5ff03;
    font-size: 90px;
    margin-bottom: 8%;
    margin-left: 50px;
}

.main_left_container h3{
    color: rgb(48, 11, 11);
    text-shadow: 0 0 2px #6a7242;
    font-size: 22px;
    margin-bottom: 8%;
    margin-left: 10px;
}

.main_left_container .left_paragraph{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.left_paragraph p{
    color: rgb(91, 49, 49);
    text-shadow: 0 0 1px #505e0c;
    font-size: 20px;
    width: 500px;
    text-align:center;
    margin-top: 0px;
}

.button_home{
    width: 45%;
    max-width: 230px;
    font-size: 20px; 
    background: none;
    padding: 10px ; 
    border: 1px solid rgb(235, 206, 206);
    outline: 2px solid #1a1c10;
    text-shadow: 0 0 3px #454e05;
    margin-left: 220px;
    border-radius: 15px;
}

.button_home:hover{
    color: #cd580a;
    cursor: pointer; 
}
